<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
	<title>Exoplanet Birthdays</title>
	<link rel="stylesheet" href="main.css" />
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script type="text/javascript" src="exo.js"></script>
	<script type="text/javascript" src="ejs_production.js"></script>
    </head>
    <body>

      <p>Enter your birth date</p>

      <form>
	<input type="text" id="birth_date_year" placeholder="Year (NNNN)" />
	<input type="text" id="birth_date_month" placeholder="Month (NN)" />
	<input type="text" id="birth_date_day" placeholder="Day (NN)" />
	<input type="button" id="go" value="go" />
	<input type="button" id="eg1" value="example1" />
	<input type="button" id="eg2" value="example2" />
	<input type="button" id="eg3" value="example3" />
      </form>

      <div id="date_string"></div>

      <p>Scanning exoplanets:</p>

      <div id="result"></div>

<script>

 var exo_data = <%- JSON.stringify(exo) %>;
 var unit = new EJS({url: 'unit.ejs'});

 $(function() {
   function update() {
     var page = $('#result');
     page.html("");
     var year = parseFloat($('#birth_date_year').val());
     var month = parseFloat($('#birth_date_month').val());
     var day = parseFloat($('#birth_date_day').val());
     var iyear = Math.floor(year+0.5);
     var imonth = Math.floor(month+0.5);
     var iday = Math.floor(day+0.5);
     if (isNaN(year)||isNaN(month)||isNaN(day)) {
       if (!isNaN(year)) { 
	 page.append("<div>year: " + iyear + "</div>"); 
       } else {
	 page.append("<div>(do not know birth year)</div>"); 
       }
       if (!isNaN(month)) { 
	 page.append("<div>month: " + imonth + "</div>"); 
       } else {
	 page.append("<div>(do not know birth month)</div>"); 
       }
       if (!isNaN(day)) { 
	 page.append("<div>day: " + iday + "</div>");
       } else {
	 page.append("<div>(do not know birth day)</div>"); 
       }
       return;
     }
     var target = new Date(iyear,imonth-1,iday);
     var now = new Date();
     $("#date_string").html(target.toDateString());
     var x = new Exo(exo_data);
     var log = x.compute(now,target);
     page.html(unit.render({ log: log }));
   }

   $('#birth_date_year').change(update);
   $('#birth_date_month').change(update);
   $('#birth_date_day').change(update);
   
   $('#go').click(update);

   $('#eg1').click(function() {
     $('#birth_date_year').val("1976");
     $('#birth_date_month').val("9");
     $('#birth_date_day').val("14");
     update();
     return false;
   });

   $('#eg2').click(function() {
     $('#birth_date_year').val("2001");
     $('#birth_date_month').val("4");
     $('#birth_date_day').val("5");
     update();
     return false;
   });

   $('#eg3').click(function() {
     $('#birth_date_year').val("2001");
     $('#birth_date_month').val("11");
     $('#birth_date_day').val("20");
     update();
     return false;
   });

   update();
 });
</script>

    </body>
</html>
