html { 
  background-color: black;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Voltaire', sans-serif;
  background-color: black;
  background: url("/images/party_planet.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center top;
  color: white;
}

.all_page {
 margin: 0;
 padding: 0;
}

.sig {
  font-size: 150%;
  text-shadow: #fff 0 0 0.2em;
}

h1 {
  font-size: 400%;
  text-align: center;
  margin-top: 0px;
  padding-top: 1em;
  text-shadow: #000 0 0 0.2em;
}

.talky {
  max-width: 800px;
  margin: 0 auto;
}

.planets {
  max-width: 1400px;
  margin: 0 auto;
  text-align: center;
}

.event {
  display: inline-block;
  vertical-align: middle;
  border: 1px solid #aaa;
  margin: 10px;
  width: 150px;
  height: 150px;
  text-align: center;
  border-radius: 75px;
  background: #caa;
  text-shadow: #fff 0 0 0.2em;
  color: black;
}

.inevent1 {
  display: table;
  width: 150px;
  height: 150px;
}

.inevent {
  display: table-cell;
  vertical-align: middle;
}

.cheer { 
  font-size: 250%;
  padding: 10px;
  margin: 10px;
  text-align: center;
}

.example { 
  padding: 10px;
  margin: 10px;
}

.hook { 
  padding: 10px;
  margin: 10px;
}

.faq { 
  padding: 10px;
  padding-top: 2em;
  margin: 10px;
}

form { 
  display: block;
  margin: 0 auto;
}

.button {
  display: inline-block;
  background: #071721;
  background: -webkit-gradient(linear, left top, left bottom, from(#de0945), to(#071721));
  background: -webkit-linear-gradient(top, #de0945, #071721);
  background: -moz-linear-gradient(top, #de0945, #071721);
  background: -ms-linear-gradient(top, #de0945, #071721);
  background: -o-linear-gradient(top, #de0945, #071721);
  padding: 0.75em 18px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
  -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
  -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
  box-shadow: rgba(0,0,0,1) 0 1px 0;
  text-shadow: rgba(0,0,0,.4) 0 1px 0;
  color: white;
  text-decoration: none;
  vertical-align: middle;
  font-size: 150%;
  margin-top: 0px;
  margin-bottom: 0px;
  height: 1.5em;
  outline: none;
}
.button:hover, .button:focus {
  border-top-color: #f00;
  background: #f00;
}
.button:active {
  border-top-color: #f00;
  background: #f00;
}

@media screen and (max-width: 799px) {
}

@media screen and (max-width: 600px) {
  .sig {
  }

  h1 {
    font-size: 300%;
  }
}

@media screen and (max-width: 400px) {
  h1 {
    font-size: 150%;
  }
  .event {
    margin: 10px;
    width: 80px;
    height: 80px;
    text-align: center;
    border-radius: 80px;
    background: #caa;
    text-shadow: #fff 0 0 0.2em;
    color: black;
    font-size: 11px;
  }

  .inevent1 {
    width: 80px;
    height: 80px;
  }

}

#date_string {
  text-align: center;
  font-style: italic;
  color: #f00;
}

#date_string span {
  margin-left:10px;
  margin-right:10px;
}

input { 
  display: block;
  max-width: 100%;
  font-family: Courier, monospace;
  background-color: rgba(0,0,0,0.5);
  border: 3px solid transparent;
  border-radius: 1em;
  outline: none;
  color: white;
  text-align: center;
  font-size: 400%;
  margin-top: 0px;
  margin-bottom: 0px;
  text-shadow: #00f 0 0 0.2em;
}

.good {
  border-color: #0f0;
  box-shadow: 0 0 10px #0f0;
}

.bad {
  border-color: #f00;
  box-shadow: 0 0 10px #f00;
}

a { 
  color: #aaf;
}

.container {
  text-align: center;
}

.container span {
  border-top: 1px solid white;
}
