html { 
}

body {
  font-family: 'Voltaire', sans-serif;
  background: black;
  background: url("/images/space.jpg");
  background-repeat: repeat;
  background-attachment: fixed;
  color: white;
}

.talky {
  max-width: 800px;
  margin: 0 auto;
}

.planets {
  max-width: 1400px;
  margin: 0 auto;
  text-align: center;
}

.event {
  display: inline-block;
  vertical-align: middle;
  border: 1px solid #aaa;
  margin: 10px;
  width: 150px;
  height: 150px;
  text-align: center;
  border-radius: 75px;
  background: #caa;
  text-shadow: #fff 0 0 0.2em;
  color: black;
}

.inevent1 {
  display: table;
  width: 150px;
  height: 150px;
}

.inevent {
  display: table-cell;
  vertical-align: middle;
}

.cheer { 
  font-size: 250%;
  padding: 10px;
  margin: 10px;
}

.example { 
  font-size: 150%;
  padding: 10px;
  margin: 10px;
  color: #888;
}

.hook { 
  font-size: 150%;
  padding: 10px;
  margin: 10px;
}

form { 
  display: table;
  margin: 0 auto;
}

input { 
  font-size: 150%;
  padding: 10px;
  height: 1.5em;
  margin-top: 0px;
  margin-bottom: 0px;
}

input[type=text] { 
  width: 160px;
  margin-right: 10px;
}

input[type=button] { 
  background: #f00;
  color: white;
}


.button {
  display: inline-block;
  background: #071721;
  background: -webkit-gradient(linear, left top, left bottom, from(#de0945), to(#071721));
  background: -webkit-linear-gradient(top, #de0945, #071721);
  background: -moz-linear-gradient(top, #de0945, #071721);
  background: -ms-linear-gradient(top, #de0945, #071721);
  background: -o-linear-gradient(top, #de0945, #071721);
  padding: 0.75em 18px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
  -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
  -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
  box-shadow: rgba(0,0,0,1) 0 1px 0;
  text-shadow: rgba(0,0,0,.4) 0 1px 0;
  color: white;
  text-decoration: none;
  vertical-align: middle;
  font-size: 150%;
  margin-top: 0px;
  margin-bottom: 0px;
  height: 1.5em;
  outline: none;
}
.button:hover, .button:focus {
  border-top-color: #f00;
  background: #f00;
}
.button:active {
  border-top-color: #f00;
  background: #f00;
}

#date_string {
  text-align: center;
  font-style: italic;
  color: #f00;
  font-size: 150%;
}

#date_string span {
  margin-left:10px;
  margin-right:10px;
}

h1 {
  font-size: 400%;
  text-align: center;
}

.good {
  border-color: #0f0;
  box-shadow: 0 0 10px #0f0;
}

.bad {
  border-color: #f00;
  box-shadow: 0 0 10px #f00;
}
